<section class="table-wrapper">
  <table id="table" class="tablesorter">
    <thead>
      <tr>
        <th>city</th>
        <th>state</th>
        <th>total population</th>
        <th>% < 18</th>
        <th>% 18-24</th>
        <th>% 25-34</th>
        <th>% 35-44</th>
        <th>% 45-54</th>
        <th>% 55-64</th>
        <th>% 65-74</th>
        <th>% > 75</th>
      </tr>
    </thead>
    <tbody>
      <% @population_data.each do |row| %>
        <tr>
          <td><%= row[:geo_area]%></td>
          <td><%= row[:state]%></td>
          <td><%= row[:pop_2010] %></td>
          <td><%= row[:less_than_18] %></td>
          <td><%= row[:between_18_24] %></td>
          <td><%= row[:between_25_34] %></td>
          <td><%= row[:between_35_44] %></td>
          <td><%= row[:between_45_54] %></td>
          <td><%= row[:between_55_64] %></td>
          <td><%= row[:between_65_74] %></td>
          <td><%= row[:more_than_75] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
