<section class="table-wrapper">
  <table id="table" class="tablesorter">
    <thead>
      <tr>
        <th>city</th>
        <th>state</th>
        <th>total population</th>
        <th>area square miles</th>
        <th>weighted density</th>
        <th>density change</th>
      </tr>
    </thead>
    <tbody>
      <% @population_data.each do |row| %>
        <tr>
          <td><%= row[:geo_area]%></td>
          <td><%= row[:state]%></td>
          <td><%= row[:pop_2010] %></td>
          <td><%= row[:sq_miles] %></td>
          <td><%= row[:weighted_density_2010] %></td>
          <td><%= row[:density_change] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
