<section class="table-wrapper">
  <table id="table" class="tablesorter">
    <thead>
      <tr>
        <th>city</th>
        <th>state</th>
        <th>total population</th>
        <th>white</th>
        <th>black</th>
        <th>asian</th>
        <th>hispanic</th>
        <th>*other</th>
      </tr>
    </thead>
    <tbody>
      <% @population_data.each do |row| %>
        <tr>
          <td><%= row[:geo_area]%></td>
          <td><%= row[:state]%></td>
          <td><%= row[:pop_2010] %></td>
          <td><%= row[:white] %></td>
          <td><%= row[:black] %></td>
          <td><%= row[:asian] %></td>
          <td><%= row[:hispanic] %></td>
          <td><%= row[:other_native_american_muti_race] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
